


.chroma{
	margin-top: 100px;
	text-align: center;
	vertical-align: middle;
  }


.all{
	margin-top: 100px;
	text-align: center;
	vertical-align: middle;
}

.bio{
    margin-left: 50px;
    margin-right: 50px;
}

.rech{
	margin-left: 50px;
	margin-right: 50px;
}

.cred{
	margin-left: 50px;
	margin-right: 50px;
}


